{% extends '../layout/application.html' %}{% block title %}数据导入{% endblock %}{% block main %}
<div class="row">
  <p>&nbsp;</p>
  {% if message %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{message}}</strong>
    </div>
  {% endif %}
  <div class="col-lg-12">
    <form role="form" action="" method="post" enctype='multipart/form-data'>
      <div class="form-group col-lg-8">
        <label><span class="fa fa-asterisk red"></span> {{tip}}</label>
        <input id="file-input" class="form-control" type="file" name="file" title="数据文件">
        <p>&nbsp;</p>
        <button onclick="$('form').submit()" class="btn btn-success">保存</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/javascripts/imports.js"></script>
{% endblock %}
