<div class="col-lg-12">
  {% set has = item.mobile && item.mobile.length > 0 %}
  <form id="user-form" role="form" action="/users/{{item.id}}" method="post" enctype='multipart/form-data'>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 昵称</label>
      <input class="form-control" type="text" name="nickname" value="{{item.nickname}}" title="nickname">
    </div>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 头像</label>
      <div id="cover-preview" style="padding-bottom: 5px">
        <img src="{{item.icon}}" alt="" style="height: 128px;"/>
      </div>
      <input id="cover-input" class="form-control" type="file" name="avatar" title="头像">
    </div>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 密码</label>
      <input class="form-control" type="password" name="pass" title="pass">
    </div>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 确认密码</label>
      <input class="form-control" type="password" name="confirm_pass" title="confirm_pass">
    </div>
    <div class="form-group">
      <label>手机</label>
      <input class="form-control" type="text" name="mobile" value="{{item.mobile}}" title="mobile">
    </div>
    <div class="form-group">
      <label>邮件</label>
      <input class="form-control" type="text" name="email" value="{{item.email}}" title="email">
    </div>
    <div class="form-group">
      <input class="switch" type="checkbox" name="public" value="true" {% if item.public %}checked{% endif %} data-on-text="公开隐私" data-off-text=" 不公开隐私" title="public">
    </div>
    <div class="form-group">
      <label>关注标签&nbsp;&nbsp;<a href="###" data-toggle="modal" data-target="#add-tag-modal"><span class="fa fa-plus-square"></span></a></label>
      <ul id="tags-list-group" class="list-group">
        {% for t in item.tags %}
          <li><input type='checkbox' name='tags' value='{{t.id}}' title="{{t.t}}" checked/> [{{ taglist[t.list]}}] {{t.t}}</li>
        {% endfor %}
      </ul>
    </div>
  </form>
  <p>
    <button onclick="$('#user-form').submit()" class="btn btn-success">保存</button>
    <button onclick="window.location.href = '/admins'" class="btn btn-default" style="margin-right: 50px;">取消</button>
    <button class="btn btn-danger" onclick="destroy('{{item.id}}');">删除</button>
  </p>
</div>
<p>&nbsp;</p>
<div class="col-lg-12">
  <label>发布的商品&nbsp;&nbsp;</label>
  <div>
    {% for f in commodities %}
    <ul id="{{ f.id }}" class="list-group" style="float: left; padding-right: 10px;">
      <li class="list-group-item">
        <div class="pull-left"><strong>{{ f.t }}</strong>&nbsp;</div>
        <div class="pull-right"><a href="/commodities/{{f.id}}"><span class="fa fa-edit"></span></a></div>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<div class="col-lg-12">
  <label>地址簿&nbsp;&nbsp;<a href="javascript:editAddress();"><span class="fa fa-plus-square"></span></a></label>
  <div>
    {% for a in addresses %}
    <ul id="{{ a.id }}" class="list-group" style="float: left; padding-right: 10px;">
      <li class="list-group-item">
        <div class="pull-left"><strong>{{ a.to }} - {{ a.phone }} - {{ a.desc }}</strong>&nbsp;</div>
        <div class="pull-right"><a href="javascript:editAddress('{{ a.id }}')"><span class="fa fa-edit"></span></a></div>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<div class="col-lg-12">
  <label>收藏夹&nbsp;&nbsp;<a href="###" data-toggle="modal" data-target="#edit-favorite-modal"><span class="fa fa-plus-square"></span></a></label>
  <div>
    {% for f in favorites %}
    <ul id="{{ f.id }}" class="list-group" style="float: left; padding-right: 10px;">
      <li class="list-group-item active" data-id="{{ f.id }}" data-t="{{ f.t }}">
        <div class="pull-left"><strong>{{ f.t }}</strong>&nbsp;</div>
        <div class="pull-right"><a href="javascript:editFavorite('{{ f.id }}')"><span class="fa fa-edit"></span></a></div>
      </li>
      {% for c in f.commodities %}
        <li class="list-group-item"  data-id="{{ c.id }}" data-t="{{ c.t }}">{{ c.t }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>

<!-- 添加标签 -->
<div id="add-tag-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">添加标签</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <select id="tags-list-select" class="form-control" title="">
            <option value="all">全部</option>
            {% for l in taglist %}
              <option value="{{loop.key}}">{{l}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <input id="tag-search-input" type="text" class="form-control" placeholder="搜索标签">
          <span class="input-group-btn">
            <button class="btn btn-default" onclick="searchTags($('#tags-list-select').val());">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
        <div id="tag-result-list" class="search-result-list"><ul></ul></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" onclick="addTags();">添加</button>
        <button class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 编辑收藏夹 -->
<div id="edit-favorite-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">编辑收藏夹</h4>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><span class="fa fa-folder-o"></span></span>
          <input id="favorite-id-input" type="hidden">
          <input id="favorite-name-input" type="text" class="form-control" placeholder="收藏夹名称">
        </div>
        <p>&nbsp;</p>
        <div class="input-group">
          <input id="commodity-search-input" type="text" class="form-control" placeholder="搜索商品">
          <span class="input-group-btn">
            <button class="btn btn-default" onclick="searchCommodities();">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
        <div id="commodity-result-list" class="search-result-list"><ul></ul></div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <button class="btn btn-success" onclick="saveFavorite();">保存</button>
          <button class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
        <div class="pull-right">
          <button class="btn btn-danger" onclick="destroyFavorite();">删除</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 编辑地址 -->
<div id="edit-address-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">编辑地址</h4>
      </div>
      <div id="edit-address-modal-body" class="modal-body"></div>
      <div class="modal-footer">
        <div class="pull-left">
          <button class="btn btn-success" onclick="saveAddress();">保存</button>
          <button class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
        <div class="pull-right">
          <button class="btn btn-danger" onclick="destroyAddress();">删除</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--编辑地址显示模板 -->
<script id="address-tpl" type="text/x-dot-template">
  <form id="address-form" role="form" method="post">
    <input id="address-id-input" name="id" value="[[= it.id]]" type="hidden">
    <input name="user" value="{{item.id}}" type="hidden">
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 收件人</label>
      <input class="form-control" type="text" name="to" value="[[= it.to||'']]">
    </div>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 电话</label>
      <input class="form-control" type="text" name="phone" value="[[= it.phone||'']]">
    </div>
    <div class="form-group">
      [[ var l1, l2, l3; ]]
      <select name="province" value="[[= it.province]]" onchange="onAddressSelectChenge(1);">
        <option value="">请选择</option>
        [[ for (var pc in all_regions) { ]]
          [[ var p = all_regions[pc]; ]]
          <option value="[[= p.data.c]]" [[? it.province == p.data.c]][[ l1 = p.items; ]]selected[[?]]>[[= p.data.n]]</option>
        [[ } ]]
      </select>
      <select name="city" value="[[= it.city]]" onchange="onAddressSelectChenge(2);">
        <option value="">请选择</option>
        [[ for (var cc in l1) { ]]
          [[ var c = l1[cc]; ]]
          <option value="[[= c.data.c]]" [[? it.city == c.data.c]] [[ l2 = c.items; ]]selected[[?]]>[[= c.data.n]]</option>
        [[ } ]]
      </select>
      <select name="district" value="[[= it.district]]" onchange="onAddressSelectChenge(3);">
        <option value="">请选择</option>
        [[ for (var dc in l2) { ]]
          [[ var d = l2[dc]; ]]
          <option value="[[= d.data.c]]" [[? it.district == d.data.c]] [[ l3 = getSubRegions(d.data.c); ]] selected[[?]]>[[= d.data.n]]</option>
        [[ } ]]
      </select>
      <select name="street" value="[[= it.street]]">
        <option value="">请选择</option>
        [[ for (var sc in l3) { ]]
          [[ var s = l3[sc]; ]]
          <option value="[[= s.data.c]]" [[? it.street == s.data.c]]selected[[?]]>[[= s.data.n]]</option>
        [[ } ]]
      </select>
    </div>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 详细地址</label>
      <input class="form-control" type="text" name="addr" value="[[= it.addr||'']]">
    </div>
    <div class="form-group">
      <label><span class="fa fa-asterisk red"></span> 邮编</label>
      <input class="form-control" type="text" name="zip" value="[[= it.zip||'']]">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="true" [[? it.is_default]]checked[[?]] name="is_default">设为默认地址</label>
    </div>
  </form>
</script>

<!--添加商品显示模板 -->
<script id="commodities-tpl" type="text/x-dot-template">
  [[~ it.items :item:index]]
  <li><input type='checkbox' name='commodity_ids' value='[[= item.id]]' title="[[= item.t]]" [[? it.checked ]] checked [[?]]/> [[= item.t]]</li>
  [[~]]
</script>

<!--添加标签显示模板 -->
<script id="tags-tpl" type="text/x-dot-template">
  [[~ it.items :item:index]]
  [[? item]]<li><input type='checkbox' name='tags' value='[[= item.id]]' title="[[= item.t]]"/> [[[= item.label]]] [[= item.t]]</li>[[?]]
  [[~]]
</script>
